Montant passé pendant l'inscription : {{ sale.amount }}<br>
<img src="{{asset ('media/uploads/img/'~ usercom.document)}}" alt="Slide Image"class="img-rounded" alt="Cinque Terre"  />
<img src="{{asset ('media/uploads/img/'~ usercom.ribDocument)}}" alt="Slide Image"class="img-rounded" alt="Cinque Terre"  />
<ul>


    <li>
        <a href="{{ path('listecommandes') }}">Retour à la liste</a>
    </li>




</ul>

